# MoySklad API sozlamalari
MOYSKLAD_TOKEN=your_moysklad_api_token_here
MOYSKLAD_API_URL=https://api.moysklad.ru/api/remap/1.2

# Server sozlamalari
APP_HOST=127.0.0.1
APP_PORT=8000
SECRET_KEY=generate_a_random_secure_secret_key_here
